# Problem statment

In [ ]:
Airline --> Point A to B --> Ratings --- happy /sad / agree / disagree / statisfied  / disstatified 
Ananlysis on rating  / ML ratings 
food/games/time/--------  }  ML

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',60)
pd.set_option('display.max_rows',60)

In [3]:
df=pd.read_csv('Downloads/ticket_9896Zopl.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Downloads/ticket_9896Zopl.csv'

In [9]:
df.columns=list(range(1,25))

In [10]:
flipkart  -->   rating *****   
900-- no name

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
1,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,5,5,5,5,4,3,4,4,4,5,0,0.0,satisfied
2,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,2,2,2,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
3,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,4,5,5,3,3,4,4,3,3,3,0,0.0,satisfied
4,111157,Female,Loyal Customer,26,Personal Travel,Eco,1180,3,4,2,1,1,2,1,1,3,4,4,4,4,1,0,0.0,neutral or dissatisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103898,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,2,2,2,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103899,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,2,4,5,5,5,5,5,5,5,4,0,0.0,satisfied
103900,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,4,1,5,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103901,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,1,1,1,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103902,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,1,1,1,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [11]:
df.head(1)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,1,3,1,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied

In [ ]:
1-5
to bad   5 to good 
threh 3 > good
3< to bad 

10 -- 7 to bad   dis

5 4 3

In [26]:
for i in df.columns:
    print((df[i].value_counts))

<bound method IndexOpsMixin.value_counts of 0           5047
1         110028
2          24026
3         119299
4         111157
           ...
103898     94171
103899     73097
103900     68825
103901     54173
103902     62567
Name: 1, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0           Male
1         Female
2         Female
3           Male
4         Female
           ...
103898    Female
103899      Male
103900      Male
103901    Female
103902      Male
Name: 2, Length: 103903, dtype: object>
<bound method IndexOpsMixin.value_counts of 0         disloyal Customer
1            Loyal Customer
2            Loyal Customer
3            Loyal Customer
4            Loyal Customer
                ...
103898    disloyal Customer
103899       Loyal Customer
103900    disloyal Customer
103901    disloyal Customer
103902       Loyal Customer
Name: 3, Length: 103903, dtype: object>
<bound method IndexOpsMixin.value_counts of 0         25
1         26
2         25
3         61
4         26
          ..
103898    23
103899    49
103900    30
103901    22
103902    27
Name: 4, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         Business travel
1         Business travel
2         Business travel
3         Business travel
4         Personal Travel
               ...
103898    Business travel
103899    Business travel
103900    Business travel
103901    Business travel
103902    Business travel
Name: 5, Length: 103903, dtype: object>
<bound method IndexOpsMixin.value_counts of 0         Business
1         Business
2         Business
3         Business
4              Eco
            ...
103898         Eco
103899    Business
103900    Business
103901         Eco
103902    Business
Name: 6, Length: 103903, dtype: object>
<bound method IndexOpsMixin.value_counts of 0          235
1         1142
2          562
3          214
4         1180
          ...
103898     192
103899    2347
103900    1995
103901    1000
103902    1723
Name: 7, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         3
1         2
2         2
3         3
4         3
         ..
103898    2
103899    4
103900    1
103901    1
103902    1
Name: 8, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         2
1         2
2         5
3         3
4         4
         ..
103898    1
103899    4
103900    1
103901    1
103902    3
Name: 9, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         3
1         2
2         5
3         3
4         2
         ..
103898    2
103899    4
103900    1
103901    1
103902    3
Name: 10, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         3
1         2
2         5
3         3
4         1
         ..
103898    3
103899    4
103900    3
103901    5
103902    3
Name: 11, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         1
1         5
2         2
3         4
4         1
         ..
103898    2
103899    2
103900    4
103901    1
103902    1
Name: 12, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         3
1         5
2         2
3         5
4         2
         ..
103898    2
103899    4
103900    1
103901    1
103902    1
Name: 13, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         1
1         5
2         2
3         5
4         1
         ..
103898    2
103899    5
103900    5
103901    1
103902    1
Name: 14, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         1
1         5
2         2
3         3
4         1
         ..
103898    2
103899    5
103900    4
103901    1
103902    1
Name: 15, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         1
1         4
2         2
3         3
4         3
         ..
103898    3
103899    5
103900    3
103901    4
103902    1
Name: 16, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         5
1         3
2         5
3         4
4         4
         ..
103898    1
103899    5
103900    2
103901    5
103902    1
Name: 17, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         3
1         4
2         3
3         4
4         4
         ..
103898    4
103899    5
103900    4
103901    1
103902    4
Name: 18, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         1
1         4
2         1
3         3
4         4
         ..
103898    2
103899    5
103900    5
103901    5
103902    4
Name: 19, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         4
1         4
2         4
3         3
4         4
         ..
103898    3
103899    5
103900    5
103901    4
103902    3
Name: 20, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0         1
1         5
2         2
3         3
4         1
         ..
103898    2
103899    4
103900    4
103901    1
103902    1
Name: 21, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0          1
1          0
2         11
3          0
4          0
          ..
103898     3
103899     0
103900     7
103901     0
103902     0
Name: 22, Length: 103903, dtype: int64>
<bound method IndexOpsMixin.value_counts of 0          6.0
1          0.0
2          9.0
3          0.0
4          0.0
          ...
103898     0.0
103899     0.0
103900    14.0
103901     0.0
103902     0.0
Name: 23, Length: 103903, dtype: float64>
<bound method IndexOpsMixin.value_counts of 0         neutral or dissatisfied
1                       satisfied
2         neutral or dissatisfied
3                       satisfied
4         neutral or dissatisfied
                   ...
103898    neutral or dissatisfied
103899                  satisfied
103900    neutral or dissatisfied
103901    neutral or dissatisfied
103902    neutral or dissatisfied
Name: 24, Length: 103903, dtype: object>

In [27]:
df[22].value_counts()

0      58668
1       2948
2       2274
3       2009
4       1854
       ...
426        1
465        1
321        1
692        1
337        1
Name: 22, Length: 446, dtype: int64

In [ ]:
['user_ID','']